@page
@model WebApp.Pages.Employees.CreateModel
@{
}

<br />
<h2>Yeni Çalışan</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label='close'></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">İsim</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Name" value="@Model.employeeInfo.name"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Maaş</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Maas" value="@Model.employeeInfo.maas"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Mesai</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Mesai" value="@Model.employeeInfo.mesai"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Derece</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Derece" value="@Model.employeeInfo.derece"/>
        </div>
    </div>

@if (Model.confirmMessage.Length > 0)
{
    <div class="row mb-3">
        <div class="col sm-9">
            <div class='alert alert-success alert-dismissible fade show' role="alert">
                <strong>@Model.confirmMessage</strong>
                <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label='close'></button>
            </div> 
        </div>
    </div>
}

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button class="btn btn-primary" type="submit">Ekle</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">İptal</a>
        </div>  
    </div>
</form>

